body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #e390f6, #db7de8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}

.player {
    width: 320px;
    padding: 20px;
    border-radius: 15px;
    background: #f0edf0;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    text-align: center;
}

.controls button {
    margin: 10px;
    padding: 12px;
    border-radius: 50%;
    border: none;
    background: #e572e7;
    color: white;
    cursor: pointer;
}

.controls button:hover {
     background: #dd57c4;
}
#play {
    transition: transform 0.2s ease, background 0.3s ease;
}

#play.active {
    transform: scale(1.2);
    background: #e14ad5;
}

#progress, #volume {
    width: 100%;
    margin-top: 10px;
}

.time {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.playlist {
    margin-top: 15px;
    text-align: left;
    max-height: 120px;
    overflow-y: auto;
}

.playlist div {
    padding: 6px;
    cursor: pointer;
}

.playlist div:hover {
    background: #374151;
}
